body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Tabs*/

.tabspanel {
  margin-left: 10rem;
  margin-right: auto;
}

/*Task Management CSS*/
/* 
.taskBox {
  height: 400px;
  border-radius: 7px;
  margin: 1px 0 1px 0px;
  border: 2px solid #0b1354;
  box-shadow: ;
  padding-bottom: 100px;
}
.tasksListDiv {
  height: 100%;
  margin: 1.21em;
  width: fit-content;
  background-color: #f765a3;
  background-color: #ffb4a6;
  padding: 1rem 0 1rem 1rem;
  border-radius: 21px;
  padding-bottom: 5rem;
  list-style: none;
}

.task_M{
  border-radius: 21px;
  padding-top:5px;
  width: 10rem;
  height: 51px;
  margin: 2em;
  background-color: #a155b9;
  background-color: #165baa;
  background-color: #f765a3;
  margin: 0.5rem;
  color: #000;
}
.task_M:last-child{
  margin-bottom:5px;
} */

.TaskBoxHead{
  font-weight: bolder;
  font-size: large;
  background-color: #a155b9;
  border: 2px solid #0b1354;
  border-radius: 21px;
}
.tasksListDiv{
  height: 450px;
  background-color: aliceblue;
  border-radius: 11px;
}
.tasksListDiv ul li{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
.tasksListDiv ul li .ListTask{
 font-size: large;
 font-weight: bold;
}
.tasksListDiv ul li .ListIcon{
  padding: 5px;
  border-radius: 11px;
  border: 1px solid orange;
}


/*Task Dashboard CSS*/

.Task_Dash_Head{
  width:fit-content;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #ffb4a6;
  padding: 1rem;
  border-radius: 21px;
  border: 5px double #165baa;
  text-align: center;
}

.Task_Dash_Table{
  /* width: 100%; */
  border: 2px solid #0b1354;
  text-align: center;
}

.ToDo_Table_Data{
  background-color: #f765a3;
  /* padding: .4rem; */
  border: 2px dotted #165baa;
}
.Progress_Table_Data{
  background-color: #ffb4a6;
  /* padding: .4rem; */
  border: 2px dotted #165baa;
}
.Completed_Table_Data{
  background-color: lightgreen;
  /* padding: .4rem; */
  border: 2px dotted #165baa;
}

#Charts .head2{
  font-weight: normal;
  border-radius: 9px;
  padding: 5px;
  background-color:#a155b9;
}
#Charts{
  display: flex;
  justify-content: space-between;
}
#Charts .charts{
  margin-left: -10em;
}
